*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
*.apk
*.ap_
*.dex
*.class
bin/
gen/
proguard/
*.log
#Ignore enclosing files.
/*.iml
/.gradle
/.DS_Store
/build
/captures
/*.apk
/*.ap_
/*.dex
/*.class
/bin/
/gen/
/proguard/
/*.log
BluetoothLEGatt/Application/build/
BluetoothLEGatt/build/
